.shop-page {
  .card {
    img {
      height: 250px;
      object-fit: cover;
    }
    .card-body {
      .price {
        padding: 10px 0;
        .sale-price {
          text-decoration: line-through;
          margin-right: 10px;
          color: #777;
        }
      }
    }
  }
}
